  <h1>Add a child</h1>
  <%= simple_form_for @child do |f| %>
   <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :gender %>
    <%= f.input :dob %>
    <%= f.submit %>
  <% end %>

  <%= link_to "Back to children", children_path %>
