

<div class="container about-container">
  <h1> application form</h1>
  <div class=" container mx-auto mt-5" style="text-align: center;">
    <%= simple_form_for [@childcare, @application] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="d-flex flex-column application-container mx-auto">
          <div class="col my-2">
            <h5>Enter start date for your child</h5>
          </div>
          <div class="col my-2">
            <%= f.text_field :start_date,
              data: {
                controller: "flatpickr",
                flatpickr_date_format: ("d-m-Y"),
                flatpickr_min_date: Time.zone.now #disables past dates
              } ,placeholder: "Date"%>
          </div>
          <div class="col my-2">
            <%= f.button :submit, "Send Application",class:"button-outline"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
