  <div class="container mx-auto">
    <div class="user-container mx-auto">
      <div class="d-flex justify-content-between">
        <h1 class="title-panel-top">My Panel</h1>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button-logout" %>
      </div>
      <hr>
    </div>

    <div class="user-container mx-auto">
      <div class=" ">
        <h1 class="title-panel-main">My Details</h1>
        <hr>
        <div class="d-flex justify-content-around">

          <div>
            <h2><strong>Name: </strong><%="#{@user.first_name} #{@user.last_name}"%></h2>
            <h2><strong>Address: </strong><%="#{@user.address}"%></h2>
          </div>
            <h2><strong>Email: </strong><%="#{@user.email}"%></h2>
            <h2><strong>Phone Number: </strong><%="#{@user.phone_number}"%></h2>

        </div>
      </div>
    </div>

  <div class="container mx-auto">
    <div class="user-container mx-auto">
      <div class=" ">
      <div class="d-flex justify-content-between">
        <h1 class="title-panel-main">My Children</h1>
        <h2>Add a child</h2>
      </div>
        <hr>
        <div>

        <% current_user.children.each do |child| %>
          <div class="card" style="width: 55rem; margin: 20px 0; background-image: url('https://res.cloudinary.com/dxu35uhgf/image/upload/v1655187164/development/yellow_baby_wc7ww2.webp'); background-size: cover;">
             <div class="card-body">
               <h5 class="card-title"><strong><%= child.first_name %> <%= child.last_name %></strong></h5>
               <h6 class="card-subtitle mb-2 text-muted">Gender: <%= child.gender %></h6>
               <p class="card-text">Date of birth: <%= child.dob %></h6></p>
               <a href="<%=child_path(child)%>"><button  class="button-primary" style="margin-left: 0;">View profile</button></a>
               <a href="<%=edit_child_path(child)%>"><button  class="button-primary" style="margin-left: 0;">Edit</button></a>
               <%= link_to "Delete",
                 child_path(child),
                 method: :delete,
                 data: { confirm: "Are you sure?" } %>
             </div>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>

   <div class="container mx-auto">
    <div class="user-container mx-auto">
      <div class=" ">
        <h1 class="title-panel-main">My Applications</h1>
        <hr>
      </div>
    </div>
  </div>



  </div>

  <%# create_table "users", force: :cascade do |t|
    t.string "email", default: "", null: false
    t.string "encrypted_password", default: "", null: false
    t.string "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.string "first_name"
    t.string "last_name"
    t.string "phone_number"
    t.text "address"
    t.boolean "acknowledgement", default: false, null: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["email"], name: "index_users_on_email", unique: true
    t.index ["reset_password_token"], name: "index_users_on_reset_password_token", unique: true
  end %>
