  <div class="container mx-auto">
    <div class="user-container mx-auto">
      <div class="d-flex justify-content-between">
        <h1 class="title-panel-top">My Panel</h1>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button-logout" %>
      </div>
    </div>

    <div class="user-container mx-auto">
      <div class=" ">
        <h1 class="title-panel-main">My Details</h1>

         <hr class="my-4">
        <div>
          <h3>
            <i class="fas fa-solid fa-pen icon-pink"></i>
            <%= link_to "Update", edit_user_registration_path(current_user)%>
          </h3>


          <div class="bg-white px-3 mb-3 py-2" style="box-shadow: 0 0 15px rgba(0,0,0,0.2)">
            <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="py-2">Full Name</p>
                <p class="py-2 text-muted"><%="#{@user.first_name} #{@user.last_name}"%></p>
            </div>
            <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="py-2">Email</p>
                <p class="py-2 text-muted"><%= @user.email %></p>
            </div>
            <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="py-2">Phone</p>
                <p class="py-2 text-muted"><%= @user.phone_number %></p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <p class="py-2">Address</p>
                <p class="py-2 text-muted"><%= @user.address %></p>
            </div>
          </div>
      </div>
    </div>

  <div class="container mx-auto">
    <div class="user-container mx-auto">
      <div class=" ">
      <div class="d-flex justify-content-between">
        <h1 class="title-panel-main">My Children</h1>
      </div>
        <hr class="my-4">
        <div>
          <h3>
            <i class="fas fa-regular fa-user-plus icon-pink"></i>
            <%= link_to "Add", new_child_path(@child)%>
          </h3>
        </div>
        <div>

        <% current_user.children.each_with_index do |child, index| %>
          <div class="card" style="width: 55rem; margin: 20px 0; background-image: url('https://res.cloudinary.com/dxu35uhgf/image/upload/v1655189017/development/green_baby_qj0ugr.jpg'); background-size: cover;">
             <div class="card-body">
               <h5 class="card-title"><strong><%= child.first_name %> <%= child.last_name %></strong></h5>
               <h6 class="card-subtitle mb-2 text-muted">Gender: <%= child.gender == 1? "Male" : "Female"  %></h6>
               <p class="card-text">Date of birth: <%= child.dob.strftime("%d-%m-%Y") %></h6></p>
               <a href="<%=child_path(child)%>"><button  class="button-primary" style="margin-left: 0;">View profile</button></a>
               <a href="<%=edit_child_path(child)%>"><button  class="button-primary" style="margin-left: 0;">Edit</button></a>
               <%= link_to "Delete",
                 child_path(child),
                 method: :delete,
                 data: { confirm: "Are you sure?" } %>
             </div>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>

   <div class="container mx-auto">
    <div class="user-container mx-auto">
      <div class=" ">
        <h1 class="title-panel-main">My Applications</h1>
        <hr class="my-4">
        <div class="mb-3">
          <div class="row">
            <% current_user.applications.each do |application| %>
              <div class="col-md-4">
                <% child = Child.find(application.child_id) %>
                <% childcare = Childcare.find(application.childcare_id) %>
                <div class="application-card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="ms-2 c-details">
                                <h6 class="mb-0"><%= child.first_name %></h6> <span>application date</span>
                            </div>
                        </div>
                        <div class="status"> <span><%= application.status %></span> </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="heading"><%= childcare.name %></h3>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>



  </div>

  <%# create_table "users", force: :cascade do |t|
    t.string "email", default: "", null: false
    t.string "encrypted_password", default: "", null: false
    t.string "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.string "first_name"
    t.string "last_name"
    t.string "phone_number"
    t.text "address"
    t.boolean "acknowledgement", default: false, null: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["email"], name: "index_users_on_email", unique: true
    t.index ["reset_password_token"], name: "index_users_on_reset_password_token", unique: true
  end %>
