<div class="py-4" style= "background-color: #FAEEE7">
  <div class="container d-flex justify-content-around align-items-center">
      <div class="photo-banner-content">
        <h1><%= @childcare.name %></h1>
        <p><i class="fas fa-regular fa-map-pin" style="color: #288568; margin-right: 8px"></i><%= @childcare.address %></p>
        <p><i class="fas fa-regular fa-envelope" style="color: #288568; margin-right: 8px"></i><%= @childcare.email %></p>
        <div class="cta">
          <%= link_to "SHORTLIST", toggle_favorite_childcare_path(@childcare),
                  remote: true,
                  method: :post,
                  class: "button-outline",
                  data: {
                    controller: 'shortlist-button',
                    action: 'click->shortlist-button#shortlist'
                  }
           %>
        </div>

      </div>
      <div class="photo-banner-picture">
      <figure><img img src='<%= @childcare.photos.first.url %>' alt="Shoes" style="height: 400px; border-radius:15px"/></figure>
      </div>
  </div>
</div>
