<div class="py-4" style= "background-color: #FAEEE7">
  <div class="container d-flex justify-content-between align-items-start">
      <div class="photo-banner-content w-50 ps-0">
        <h1><%= @childcare.name %></h1>
        <p><i class="fas fa-regular fa-map-pin" style="color: #288568; margin-right: 8px"></i><%= @childcare.address %></p>
        <p><i class="fas fa-regular fa-envelope" style="color: #288568; margin-right: 8px"></i>
        <% unless @childcare.email.nil? %>
          <%= @childcare.email %></p>
        <% else %>
          <%= "#{@childcare.name.gsub(" ","")}@outlook.com" %></p>
        <% end %>
        <div class="cta">
          <% if user_signed_in? %>
          <%= link_to current_user.favorited?(@childcare) ? "Added" : "Add to shortlist", toggle_favorite_application_path(@childcare),
                  remote: true,
                  method: :post,
                  class: current_user.favorited?(@childcare) ? "button-outline" : "button-primary",
                  data: {
                    controller: 'shortlist-button',
                    action: 'click->shortlist-button#shortlist'
                  }
           %>
           <% else %>
            <%= link_to "Add to shortlist", new_user_session_path, class: "button-primary" %>
           <% end %>
        </div>

      </div>
      <div class="photo-banner-picture w-50">

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                  <figure><img img src='<%= @childcare.photos.first.url %>' alt="childcare" style="width:100%;height: 380px;border-radius:15px;"/></figure>
              </div>
                <% unless @childcare.photos.drop(1).empty?%>
                  <% @childcare.photos.drop(1).each do |photo| %>
                    <div class="carousel-item" data-bs-interval="2000">
                        <figure><img img src='<%= photo.url %>' alt="childcare" style="width:100%;height: 380px;border-radius:15px;"/></figure>
                    </div>
                  <% end %>
                <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
  </div>
</div>
