<!DOCTYPE html>
<html>
  <head>
    <title>Baybeme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['Google_api'] %>&libraries=places&callback=initMap" async defer data-turbolinks-eval="false"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="content-wrapper">
    <%= render 'shared/navbar' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
