<div class="py-4" style="background-color: #FAEEE7">
  <div class="container" >
    <%= link_to "BACK", childcares_path%>
  </div>
</div>


<%= render 'shared/show_photo_banner'%>

<div class="map-wrraper d-flex justify-content-between">
  <div class="container map-container  pl-40 mr-10 ">
    <div id="show-map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="conatiner opening-hours mr-30">
  <h2 style="padding-bottom: 20px;"> <strong>Opening Hours</strong></h2>
  <ul>
    <% @childcare.opening_hours.each do |time| %>
    <li><%= time.time %></li>
    <% end  %>
  </ul>
    </div>
</div>

<div class="container mt-5 py-4" style="background-color: #FAEEE7">
  <% @childcare.reviews.each do |review| %>
    <%= render 'shared/childcare_reviews', review: review %>
  <% end %>
</div>
